.relogioNumero{
    background-color: #5D677c;
    box-shadow: 2px 2px 4px #2B2B2B inset;
    height: 1rem;
    width: 3rem;
    padding: 0px 10px;
    border-radius: 10px;
    margin: 0 5px;
}
.relogioDivisao{
    height: 4.2rem;
}

@media screen and (min-width: 940px){
    .relogioNumero{
        height: 8rem;
        width: 9rem;
    }
    .relogioDivisao{
        height: 12.6rem;
    }
}