.relogioNumero{
    background-color: #5D677c;
    box-shadow: 2px 2px 4px #2B2B2B inset;
    height: 2%;
    width: 2%;
    padding: 2% 10% 2% 10%;
    border-radius: 10px;
    margin: 1%;
}
.relogioDivisao{
    height: 2%;
}

@media screen and (max-width: 940px){
    .relogioNumero{
        padding: 2% 10% 2% 10%;
    }
    .relogioDivisao{
       
    }
}